

/* ----------------------------------------------------- */
/* GENERAL SETUP */
body, h1, h2, h3, a, ul, li, header, p, nav, section {
  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline;
  font-family: 'Raleway', sans-serif;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  background: #333;
}

img {
  border-radius: 4px;
}

/* ----------------------------------------------------- */
/* GENERAL POSITIONAL WRAPPERS */



/* ----------------------------------------------------- */
/* MAIN AREAS */

#main-content {
  width: 860px;
  padding: 0 20px 50px 20px;
  margin: auto;
  background: #fff;
}

.top-banner {
  width: 860px;
  padding: 10px 20px 0 20px;
  margin: auto;
  z-index: 5;
/*  padding: 10px 0;*/
  background: #fff;
  display: block;
  border-bottom: 1px solid #ccc;
/*  box-shadow: 0 1px 2px #333;*/
}

footer {
  width: 860px;
  padding: 0 20px;
  margin: auto;
  border-top: 1px solid #ccc;
  height: 30px;
  background: #fff;
}


.project-sidebar {
  padding-top: 10px;
  width: 120px;
/*  border-right: 1px solid green;*/
}

.content {
  margin-top: 36px;
  width: 500px;
  padding: 10px;
}

#features {
  padding: 10px 10px 0 10px;
}

#languages {
/*  position: relative;*/
/*  width: 110px;*/
/*  right: 20px;*/
/*  border-right: 1px solid #ccc;*/
  margin-top: 10px;
}

#technology {
/*  position: relative;*/
/*  right: 12px;*/
/*  margin-top: 5px;*/
  margin: 10px 0 0 10px;
  z-index: 0;
/*  width: 120px;*/
  background: #fff;
/*  border: 1px solid purple;*/
/*  box-shadow: -2px 0 2px 0 #666;*/
/*  border-left: 1px solid #333;*/
}




h3.title {
  font-weight: bold;
/*  margin-bottom: 20px;*/
}


/* ----------------------------------------------------- */
/* TOP BANNER */

.profile-logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
}

.top-nav ul {
}

.top-nav ul li {
  float: left;
  margin-left: 10px;
}



.text-link {
  line-height: 30px;
  font-weight: bold;
  display: block;
}

/* ----------------------------------------------------- */
/* PROJECT SIDEBAR */



img.project-thumb {
/*  margin: 5px 5px 5px 0;
  margin-left: 10px;*/
  width: 50px;
  margin: 0 10px 10px 0;
}

img.project-icon {
/*  margin: 5px 5px 5px 0;
  margin-left: 10px;*/
  float: left;
  width: 110px;
  margin: 10px 10px 10px 0;
  border-radius: 8px;
}

/* ----------------------------------------------------- */
/* CONTENT */

.content-title {
  margin-bottom: 10px;
}
.content-title h3 {
  display: inline;
  text-align: left;
}

.content-title a {
  float: right;
  padding: 10px 0 0 20px;
  text-align: right;
}

.project-title {
  font-size: 26px;
  font-weight: bold;
  display: inline;
}



.post-title {
  margin-bottom: 10px;
}

.post header {
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #aaa;
  margin-bottom: 10px;
}

.references {
  vertical-align: baseline;
}

.references li {
  float: left;
  padding-left: 10px;
}

.post p {
  color: #555;
  text-align: justify;
}





/* ----------------------------------------------------- */
/* FEATURES */

.language {
/*  font-weight: bold;*/
  color: #fff;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  width: 100px;
  box-shadow: -2px 2px 2px #aaa;
  margin-bottom: 5px;
}

.tech {
  padding-top: 4px;
  font-size: 14px;
}


.ruby {
  color: #fff;
  background: #F7977A;
}

.sql {
  color: #fff;
  background: #A187BE;
}

.js {
/*  color: #000;*/
  background: #82CA9D;
}

.web {
/*  color: #000;*/
  background: #F9AD81;
}

.lua {
  color: #fff;
  background: #7EA7D8;
}

.inactive {
  opacity: 0.3;
}




