/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */


/* INITIAL FORMATTING */
body, div, ul, li, h1, h2, h3, h4, a, p {
	margin: 0;
	padding: 0;
	border: 0;

	color: #222;
	font: inherit;
	font-family: sans-serif;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

a {
	color: #1e90ff;
	text-decoration: none;
}

h1 {
	/*font-size: 1.8em;*/
	/*margin-bottom: 10px;*/
	/*vertical-align: super;*/
}

h2 {
	font-size: 1.4em;
	/*margin: 20px 0;*/
}

h3 {
	font-size: 1em;
}

h4 {
	/*font-size: 14px;*/
	font-weight: bold;
}

p {
	/*margin-bottom: 1.5em;*/
}

.v-center:before {
	content: "";
	height: 100%;
	display: inline-block;
	vertical-align: middle;
}

.group:after {
	content: "";
	clear: both;
	display: block;
}

.left {
	float: left;
}

.right {
	float: right;
}


/*  */

body {
	/*width: 960px;*/
	background: #333;
}

.feature {
	/*display: inline-block;*/
	position: relative;
	float: left;
	padding: 0 10px;
	height: 42px;
	/*border: 1px solid #000;*/
	line-height: 42px;
	vertical-align: middle;
	text-align: center;
	color: #fff;
	font-weight: bold;

	box-shadow: -1px 1px 4px #333;
}

.background-banner {
	position: fixed;
	z-index: 1;
	width: 100%;
	background: #111;
	height: 50px;
	box-shadow: 1px 4px 8px #000;
}

.contact-header {
	color: #fff;
	max-width: 700px;
	margin: auto;
	padding: 0 20px;
}

.background-footer {
	width: 100%;
	background: #222;
	height: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
}

.main-footer {
	position: relative;
	max-width: 700px;
	padding: 0 20px;
	margin: auto;
	/*background: yellow;*/
	height: 100%;
}

.main-content {
	background: #ccc;
	width: 700px;
	margin: auto;
	padding: 70px 20px 200px 20px;
}


.name-title {
	padding: 10px 0;
}

.name {
	font-size: 28px;
	vertical-align: middle;
	line-height: 22px;
	font-weight: bold;
	color: #eee;
}

.sub-name {
	color: #ccc;
	font-size: 12px;
	line-height: 14px;
	letter-spacing: 1.4px;
}

.contact-btns {
	padding: 10px 0;
	/*height: 80px;*/
	/*
	display: inline;
	vertical-align: middle;*/
}

.menu-btn {
	margin-left: 15px;
}

.menu-btn img {
	width: 30px;
	height: 30px;
}



.stack {
	position: absolute;
	right: 10px;
	bottom: 20px;
	/*background: purple;*/
	width: 260px;
}

.offset1 {
	left: 0px;
}
.offset2 {
	left: -5px;
}
.offset3 {
	left: -10px;
}
.offset4 {
	left: -15px;
}
.offset5 {
	left: -20px;
}

.size1 {
	font-size: 16px;
}
.size2 {
	font-size: 22px;
}
.size3 {
	font-size: 28px;
}

.red1 {
	background: #e8310a;
}
.red2 {
	background: #ff130b;
}
.red3 {
	background: #ff9e0b;
}
.red4 {
	background: #e8720a;
}
.red5 {
	background: #ff6218;
}


.page-description {
	width: 410px;
	text-align: center;
	padding: 10px 0;
	margin-bottom: 20px;
	/*border-bottom: 1px solid #aaa;*/
	/*background: #eee;*/
	/*box-shadow: 0 1px 2px #333;*/
	font-weight: bold;
}


.icon {
	width: 50px;
	height: 50px;
	margin-right: 10px;
	/*text-align: center;*/
}

.icon img {
	width: 40px;
	height: 40px;
	vertical-align: middle;
	text-align: center;
}

.main-article header {
	margin-bottom: 20px;
}

.heading {
	width: 320px;
	/*vertical-align: text-top;*/
	line-height: 45px;
	/*position: relative;*/
	/*padding-left: 90px;*/
	/*width: 400px;*/
}

.title {
	display: inline;
	font-weight: bold;
	float: left;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 4px;
	/*width: 80px;*/
	/*margin: 10px 0;*/
	/*font-size: 14px;*/
	vertical-align: super;
	/*text-align: center;*/
}

.sub-heading {
	clear: left;
	line-height: 18px;
	vertical-align: text-top;
	font-size: 14px;
}

.main-article {
	width: 390px;
	padding: 10px;
	/*padding: 0 20px;*/
	text-align: justify;
	margin-bottom: 40px;
	background: #eee;
	box-shadow: 0 1px 2px #333;
}

.main-article ul {

}

.main-article li {
	font-size: 14px;
	padding: 0 0 0 10px;
	margin: 10px 0;
	border-left: 1px solid #aaa;
}

.content {
	width: 320px;
	margin-left: 10px;
	font-size: 14px;
	line-height: 20px;
	/*margin-left: 91px;*/
}

.side-details {
	width: 50px;
	font-size: 14px;
	font-weight: bold;
}

.side-details a {
	display: block;
	margin-bottom: 10px;
}

p {
	margin-bottom: 15px;
}

.image-thumbnails {
	margin-bottom: 20px;
	padding: 5px;
	border: 1px solid #999;
}
