

/* ----------------------------------------------------- */
/* GENERAL SETUP */
body, h1, h2, h3, a, ul, li, header, p, nav, section {
  margin: 0;
  padding: 0;
  border: 0;

  vertical-align: baseline;
  font-family: 'Raleway', sans-serif;
  font: inherit;
  font-size: 100%;
}

ul {
  list-style: none;
}

a {
  color: #1e90ff;
  text-decoration: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

.right {
  float: right;
}

.left {
  float: left;
}

body {
  font-family: 'Raleway', sans-serif;
  margin: auto;
  color: #555;
  background: #333;
}

img {
  border-radius: 4px;
}

/* ----------------------------------------------------- */
/* GENERAL POSITIONAL WRAPPERS */



/* ----------------------------------------------------- */
/* MAIN AREAS */

#main-content {
  width: 860px;
  padding: 0 20px 50px 20px;
  margin: auto;
  background: #fff;
}

.top-banner {
  width: 860px;
  padding: 10px 20px 0 20px;
  margin: auto;
  z-index: 5;
/*  padding: 10px 0;*/
  background: #fff;
  display: block;
/*  box-shadow: 0 1px 2px #333;*/
}

.top-banner:after {
  border-bottom: 1px solid #ccc;
}


footer {
  width: 860px;
  padding: 0 20px;
  margin: auto;
  height: 30px;
  background: #fff;
}


.project-sidebar {
  padding-top: 10px;
  width: 120px;
/*  border-right: 1px solid green;*/
}

#content {
  margin-top: 36px;
  width: 480px;
  padding: 10px 20px;
}

#features {
  padding: 10px 10px 0 10px;
}

#languages {
  position: relative;
/*  width: 110px;*/
/*  right: 20px;*/
/*  border-right: 1px solid #ccc;*/
  margin-top: 10px;
}

#technology {
  position: relative;
/*  right: 12px;*/
/*  margin-top: 5px;*/
  margin: 10px 0 0 10px;
  z-index: 0;
/*  width: 120px;*/
  background: #fff;
/*  border: 1px solid purple;*/
/*  box-shadow: -2px 0 2px 0 #666;*/
/*  border-left: 1px solid #333;*/
}

h3.title {
  font-weight: bold;
/*  margin-bottom: 20px;*/
}


/* ----------------------------------------------------- */
/* TOP BANNER */



.profile-logo {
  float: left;
  font-size: 24px;
  font-weight: bold;
}

.top-nav ul {
}

.top-nav ul li {
  float: left;
  margin-left: 20px;
}



.text-link {
  line-height: 30px;
  font-weight: bold;
  display: block;
}

/* ----------------------------------------------------- */
/* PROJECT SIDEBAR */

img.project-thumb {
/*  margin: 5px 5px 5px 0;
  margin-left: 10px;*/
  width: 50px;
/*  padding: 0 10px 10px 0; */
  margin: 0 6px 6px 0;
  border: 1px solid transparent;
  cursor: pointer;
}

img.project-thumb:hover {
  border: 1px solid red;
}

#project-icon {
/*  margin: 5px 5px 5px 0;
  margin-left: 10px;*/
  float: left;
  width: 110px;
  margin: 10px 10px 10px 0;
  border-radius: 8px;
}

/* ----------------------------------------------------- */
/* CONTENT */

.content-title {
  margin-bottom: 10px;
}

.content-title h3 {
  display: inline;
  text-align: left;
}

.content-title a {
  float: right;
  padding: 10px 0 0 20px;
  text-align: right;
}

#content h3.project-title {
  font-size: 26px;
  font-weight: bold;
  display: inline;
  border-bottom: 0;
}

#content p {
  color: #555;
  text-align: justify;
  margin: 10px 0;
}

#content ul {
  margin-top: 10px;
}

#content li {
  margin-bottom: 15px;
  text-align:justify;
}

.content-title {

}

#content h3 {
  font-weight: bold;
  font-size: 16px;
  color: #000;
  border-bottom: 1px solid #ccc;
}

.hidden {
  display: none;
}

/* ----------------------------------------------------- */
/* FEATURES */

.language {
  left: 0px;
  top: 0px;
  position: relative;
  font-weight: bold;
  text-shadow: 0 1px 1px #aaa;
  color: #fff;
  background: transparent;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  width: 100px;
  box-shadow: -1px 1px 1px #aaa;
  margin-bottom: 5px;
}

.tech {
  position: relative;
  top: 0px;
  padding-bottom: 4px;
  font-size: 14px;
  text-shadow: 0 1px 1px #aaa;
}


.ruby {
  color: #FF2626;
  border-bottom: 1px solid #FF2626;
  border-left: 1px solid #FF2626;
/*  background: #F7977A;*/
/*  background: #FF7575;*/
}

.sql {
  color: #872187;
  border-bottom: 1px solid #872187;
  border-left: 1px solid #872187;
/*  background: #AD8BFE;*/
/*  background: #A187BE;*/
}

.js {
  color: #2966B8;
  border-left: 1px solid #2966B8;
  border-bottom: 1px solid #2966B8;
/*  background: #82CA9D;*/
}

.web {
  color: #FF800D;
  border-left: 1px solid #FF800D;
  border-bottom: 1px solid #FF800D;
/*  background: #F9AD81;*/
/*  background: #FF9C4A;*/
}

.lua {
  color: #59955C;
  border-bottom: 1px solid #59955C;
  border-left: 1px solid #59955C;
/*  background: #7EA7D8;*/
}

.inactive {
  opacity: 0.3;
}




