<header class="contact-header group">
	<div class="name-title left">
		<div class="name">B.AdamRussell</div>
		<div class="sub-name right">web developer</div>
	</div>
	<ul class="contact-btns right">
		<li class="left menu-btn">
			<a href="https://www.linkedin.com/in/badamrussell">
				<img src="images/menu_linkedin.png">
			</a>
		</li>

		<li class="left menu-btn">
			<a href="https://github.com/badamrussell">
				<img src="images/menu_github.png">
			</a>
		</li>

		<li class="left menu-btn">
			<a href="mailto:b.ad.russell@gmail.com">
				<img src="images/menu_email.png">
			</a>
		</li>
	</ul>
</header>