<!DOCTYPE html>
<html>
<head>

  <title>Portfolio</title>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-48250626-1']);
	  _gaq.push(['_setDomainName', 'badamrussell.com']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
</head>

<body>

<header class="background-banner">
	{% include header.html %}
</header>

<section class="main-content group">
	{{ content }}
</section>

<footer class="background-footer">
	{% include footer.html %}
</footer>

</body>

</html>