---
layout: default
categories: ruby javascript
---


<article class="main-article">
	<header class="group">
		<img class="icon left" src="{{ post.icon }}">
		<div class="left heading">
			<h1 class="title">{{ post.name }}</h1>
			<h3 class="sub-heading">{{ post.heading }}</h3>
		</div>
	</header>

	<div class="group">
		<section class="side-details left">
			<% unless p.website_link.blank? %>
			<a href="{{ post.website_link }}">website</a>
			<% end %>

			<% unless p.code_link.blank? %>
			<a href="{{ post.code_link }}">code</a>
			<% end %>
		</section>

		<section class="content left">
			{{ content }}
		</section>
	</div>
</article>

